<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    <link href="/css/principal.css" rel="stylesheet">
    <title>Jobify - Administração > Vagas</title>
</head>
<body>
    <%- include('header') %>

    <h2>Administração das Vagas</h2>
    <h5><a href="/admin %>">Administração</a> > 
        <a href="/admin/vagas %>">Vagas</a> > 
        Editar Vaga
    </h5>

    <div>
        <form name="vagaForm" method="POST" action="/admin/vagas/editar">
            <input type="hidden" name="id" value="<%- vaga.id %>" />
            <label>Título:</label>
            <input type="text" name="titulo" value="<%- vaga.titulo %>" />
            <label>Descrição:</label>
            <textarea name="descricao"><%- vaga.descricao %></textarea>
            <label>Categoria:</label>
            <select name="categoria">
                <option value=0>Selecione...</option>
                <% categorias.forEach((categoria) => { %>
                <option value=<%- categoria.id %>
                    <% if (categoria.id == vaga.categoria) { %>
                        selected="selected"
                    <% } %>
                ><%- categoria.nome %></option>
                <% }) %>
            </select>
            <button>Salvar</button>
        </form>
    </div>
    
    
    
    
</body>
</html>